body{
  caret-color: white;
}

.hide, .hide::before{
  display: none;
}

input{
  background: none;
  width: 100%;
  border: none;
}

input:focus{
  outline: none;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.horizontal-flex{
  display: flex;
  flex-direction: column;
}

.white-border{
  border: 0.5px white solid;
}

.rounded-corners{
  border-radius: 25px;
}

.justify-text{
  text-align:justify;
}
.justify-text:after{
  content: "";
  display: inline-block;
  width: 100%;
}

#search-form{
  width: 550px;
}

#search-bar{
  width: 90%;
  padding: 0.5em 1em;
  border-radius: 25px;
  border: 0.5px white solid;
}

#search-bar input{
  margin-left: 5px;
}

#center-container {
  width     : auto;
  position  : absolute;
  left      : 50%;
  bottom       : 60%;
  transform : translate(-50%, 50%);
}

#center-container *{
  margin: auto;
}

#center-container form input[type="submit"]{
  width: 25%;
  padding: 0.5em 1em;
  margin: 0;
}

#quote-container{
  width: 400px;
  margin-bottom: 100px;
}

#quote-container h2{
  font-size: 2em;
  text-align: justify;
}

#quote-likes{
  margin-left: 10px;
}

#quote-container__bottom {
  width           : 100%;
  margin-top      : 15px;
  justify-content : space-around;
}

#quote-container__bottom > *:first-child{
  margin-left: 0;
}

#quote-container__bottom > *:last-child{
  margin-right: 0;
}

#like-button{
  position: relative;
  margin-top: 30px;
}

#like-button > *{
  position: absolute;
  display: block;
  transform: scale(1.5) translateX(-50%);
  left: 50%;
}

#date-container{
  position: absolute;
  bottom: 100px;
  left: 100px;
}

#date-day{
  width: 100%;
  margin-bottom: 5px;
}

#date-hour{
  font-size: 2.6em;
}

#date-seconds{
  font-size: 1em
}

#date-am_pm{
  font-size: 1.5em;
}